body {
  display: flex;
  flex-direction: column;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

img {
  height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.feedback-form {
  margin-top: 30px;
}

.feedback-form form {
  width: 500px;
  margin: 0 auto;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.feedback-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .feedback-form form {
    width: 100%;
    margin-bottom: 30%;
  }

  footer {
    margin-top: 20%;
  }
}